@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>


<address>
    Dakota State University <br />
    820 Washington Ave N <br />
    Madison, SD 57042 <br />
    <abbr title="Phone">P:</abbr>
    888.DSU.9988
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@dsu.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@dsu.edu</a>
</address>