@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TCG Community</h1>
    <p class="lead">The TCG Community App is a place where users can go to meet new players from their favorite games, find and purchase new cards, and learn about new and exciting games!</p>
    <p>@Html.ActionLink("Create Community", "CreateCommunity", "Community")</p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Featured Games</h1>
    </div>
    <div class="col-md-4">
        <h2>Magic the Gathering</h2>
        <p>
            *ADD CONTENT*
        </p>
        <p><a class="btn btn-default" href="https://magic.wizards.com/en">Learn more &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Yu-Gi-Oh!</h2>
        <p>*ADD CONTENT*</p>
        <p><a class="btn btn-default" href="http://www.yugioh-card.com/en/">Learn more &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Pokémon</h2>
        <p>*ADD CONTENT*</p>
        <p><a class="btn btn-default" href="https://www.pokemon.com/us/pokemon-tcg/">Learn more &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Cardfight!! Vanguard</h2>
        <p>*ADD CONTENT*</p>
        <p><a class="btn btn-default" href="http://www.en.cf-vanguard.com/">Learn more &raquo;</a></p>
    </div>
</div>