@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TCG Community</h1>
    <p class="lead">The TCG Community App is a place where users can go to meet new players from their favorite games, find and purchase new cards, and learn about new and exciting games!</p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <h3>Featured Games</h3>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Magic the Gathering</h2>
        <a href="https://magic.wizards.com/en">
            <div class="cardtext">
                <img src="~/Images/magic.jpg" alt="Norway" style="width:100%;" />
                <div class="cardsetup">A game of Magic involves two or more players who are engaged in a battle acting as powerful wizards called planeswalkers. Each player has their own deck, either one previously constructed or made from a limited pool of cards for the event. A player starts the game with twenty "life points" and loses the game when their life total is reduced to zero. A player can also lose if they must draw from an empty deck.</div>
            </div>
        </a>
            <p><a class="btn btn-default" href="https://magic.wizards.com/en">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yu-Gi-Oh!</h2>
        <a href="http://www.yugioh-card.com/en/">
            <div class="cardtext">
                <img src="~/Images/yugioh.jpg" alt="Norway" style="width:100%;">
                <div class="cardsetup">
                    Players draw cards from their respective decks and take turns playing cards onto "the field." Each player uses a deck containing forty to sixty cards. Each player starts with 8,000 "Life Points", with the main aim of the game to use attacks and spells to reduce the opponent's Life Points. The game ends upon reaching one of the following conditions:
                    A player loses if their Life Points reaches zero.
                    A player loses if they are required to draw a card, but has no more cards to draw in the Main Deck.
                </div>
            </div>
        </a>
        <p><a class="btn btn-default" href="http://www.yugioh-card.com/en/">Learn more &raquo;</a></p>
        </div>
    <div class="col-md-4">
        <h2>Pokémon</h2>
        <a href="https://www.pokemon.com/us/pokemon-tcg/">
            <div class="cardtext">
                <img src="~/Images/pokemon.jpg" alt="Norway" style="width:100%;">
                <div class="cardsetup">
                    The object of the game is to play your Pokémon cards, that represent different creatures, to battle against each other. The first player to "knock out" (defeat) six opposing Pokémon wins the game. You play the game with a deck of sixty cards that represent your Pokémon, as well as Trainer cards and Energy cards. Trainer cards affect the game, players or Pokémon in different ways, most of them temporary, while Energy cards act as the resources in the game.
                </div>
            </div>
        </a>
            <p><a class="btn btn-default" href="https://www.pokemon.com/us/pokemon-tcg/">Learn more &raquo;</a></p>
     </div>
</div>