@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TCG Community</h1>
    <p class="lead">The TCG Community App is a place where users can go to meet new players from their favorite games, find and purchase new cards, and learn about new and exciting games!</p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            *ADD CONTENT*
        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>*ADD CONTENT*</p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>*ADD CONTENT*</p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p> -->
    </div>
</div>