@model IEnumerable<TCG_App.Models.Community>
@{
    ViewBag.Title = "Community Index";
}

<h2>CommunityIndex</h2>

@foreach(var item in Model)
{
    <tr class="col-md-12">
        <td class="col-md-4">
            @Html.ActionLink(item.CommunityName, "Community", "Community", new { commId = item.CommunityId }, "")
            @item.CommunityName
        </td>
        <td class="col-md-8">
            @item.CommunityDesc
        </td>
    </tr>
}