@model TCG_App.Models.Community
@{
    ViewBag.Title = "Community";
}

<h2>@Model.CommunityName</h2>

<div class="col-md-4">
    <div>Description: <text style="word-wrap">@Model.CommunityDesc</text></div>
    <div>Location: @Model.CommunityLocation</div>
</div>
<div class="col-md-8">

</div>
